@import "~compass-mixins";
@import "../style/variables";

.select {
  height: auto !important;
  @include ellipsis;

  .select-choice-container {
    margin-left: -(map-get($spacers, 0));
    margin-top: -(map-get($spacers, 0));

    @include clearfix;

    .select-choice {
      float: left;
      border: 1px solid $border-color;
      background-color: #FAFAFA;
      font-size: $font-size-sm;
      padding: 0 map-get($spacers, 1);
      border-radius: $border-radius-sm;
      margin-left: map-get($spacers, 0);
      margin-top: map-get($spacers, 0);
      position: relative;

      & > * {
        vertical-align: middle;
      }

      svg {
        margin-left: map-get($spacers, 0);
      }
    }
  }
}

.select-popover {
  background-color: $white;
  border: 1px solid $gray-300;

  border-radius: $border-radius;

  .select-option {
    padding: 6px 12px;
    @include ellipsis();
    position: relative;

    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: .1s;
    text-align: left;

    color: $text-muted;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    &.active {
      background-color: #F3F8FF;
      color: $primary;
    }

    .icon-check {
      position: absolute;
      right: 12px;
      top: 10px;
    }
  }

  .keyword {
    padding: map-get($spacers, 1);
  }
}
