@import "variables";
@import "../../../../src/style/index";

html {
  font-size: 14px;
}

.showcase-nav {
  transition-property: box-shadow, background;
  transition-duration: .2s;
  display: block;
  color: $gray-600;

  &:hover {
    box-shadow: $box-shadow;
    color: $yiq-text-dark;
    text-decoration: none;
  }
}
