$green-color: #61C177 !default;
$primary-color: $green-color !default;
$secondary-color: #f5f9f9 !default;
$text-color: #5e7181 !default;
$text-light-color: #758999 !default;
$text-dark-color: #455563 !default;
$font-size-xl: 20px !default;

@import "../../../../src/style/variables";
