{
  "presets": [
    "env",
    "stage-1",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-runtime", {
      "polyfill": false
    }],
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ]
}
