@import "~compass-mixins";
@import "~compass-mixins/lib/animation/core";
@import "../../../style/mixins/rem";
@import "../../../style/variables";

.side-popover-mask {
  position: absolute;
  background-color: rgba(12, 15, 22, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include transition(opacity, .2s);
}

.side-popover-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65%;
  background: $white-color;
  overflow-y: auto;
  color: $text-color;
  line-height: 1.5;
}

.side-popover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $z-index-base;

  &.enter {
    .side-popover-content {
      @include animation-name(moveLeftIn);
      @include animation-duration(0.2s);
    }
  }

  &.leave {
    .side-popover-mask {
      opacity: 0;
    }
    .side-popover-content {
      @include animation-name(moveLeftOut);
      @include animation-duration(0.2s);
      @include animation-fill-mode(forwards);
    }
  }
}
