@import "~compass-mixins";
@import "~compass-mixins/lib/animation/core";
@import "../../style/theme";

@mixin full-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

:local(.modal) {
  z-index: $z-index-base;
  @include full-screen;
  padding: 0 200px;

  &.enter {
    :local(.body) {
      @include animation-name(scaleIn);
      @include animation-duration(0.2s);
      @include animation-fill-mode(forwards);
    }
    :local(.mask),
    :local(.close) {
      @include animation-name(fadeIn);
      @include animation-duration(0.2s);
      @include animation-fill-mode(forwards);
    }
  }

  &.leave {
    :local(.body) {
      @include animation-name(scaleOut);
      @include animation-duration(0.2s);
      @include animation-fill-mode(forwards);
    }
    :local(.mask),
    :local(.close) {
      @include animation-name(fadeOut);
      @include animation-duration(0.2s);
      @include animation-fill-mode(forwards);
    }
  }
}

:local(.mask) {
  @include full-screen;
  background-color: rgba(255, 255, 255, .8);
}

:local(.body) {
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(193, 193, 193, 0.83);
}

:local(.title) {
  padding: 0 20px;
  line-height: 60px;
  font-size: 22px;
  background-color: #fafdfb;
}

:local(.close) {
  position: absolute;
  right: 20px;
  top: 20px;

  .icon {
    font-size: 44px;
    color: #4a4a4a;
    cursor: pointer;
  }
}

