@import "../variables";

@mixin badge {
  display: inline-block;
  padding: 0.3em 0.5em;
  color: $white;
  border-radius: 2em;
  line-height: 1;
}

.badge-primary {
  @include badge;
  background: $primary;
}

.badge-error {
  @include badge;
  background: $danger;
}

.badge-success {
  @include badge;
  background: $success-color;
}
