@import "../variables";
@import "~compass-mixins";

$input-height: 36px;

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 100%;
  outline: none;
  transition-property: border-color;
  transition-duration: .2s;
  line-height: $input-height - (1 * 2) - (7 * 2);
  background-color: $white;
  resize: none;

  @include appearance(none);

  border: 1px solid $border-color;

  &[readonly] {
    cursor: not-allowed;
    color: #959ca0;
    background-color: #eceeef;
    border: solid 1px #e8eaef;
  }

  &:focus {
    border-color: $primary;
    &[readonly] {
      border-color: #e8eaef;
    }
  }

  @include border-radius($border-radius-base);

  @include input-placeholder {
    color: #b5b5b5;
  }

  padding: 7px 8px;
}

textarea {
  height: 66px;
}

.code {
  font-family: 'courier', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
