.file-uploader {
  display: inline-block;
  position: relative;

  .file-uploader-trigger {
    [type="file"] {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      cursor: pointer;
      font-size: 0;
    }
  }
}
