@import "~compass-mixins";
@import "~compass-mixins/lib/animation/core";
@import "../style/variables";

.modal {
  display: block !important;

  .modal-dialog {
    left: 50%;
    top: 50%;
  }
}

.modal-open .modal {
  overflow: hidden;
}
