@import "~compass-mixins";
@import "~compass-mixins/lib/animation/core";
@import "../style/variables";

.modal {
  display: block !important;

  .modal-dialog {
    left: 50%;
    top: 50%;
  }
}

.modal-open .modal {
  overflow: hidden;
}

.modal,
.modal-backdrop {
  animation-duration: 0.3s;
}

.modal-backdrop {
  &.modal-fade-in {
    animation-name: modalFadeIn;
  }

  &.modal-fade-out {
    animation-name: modalFadeOut;
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
