// font
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;
$font-size-xl: 18px;

$font-weight-base: 300;

$font-family: Helvetica Neue,Helvetica,Segoe UI,DejaVu Sans,Arial,PingFang SC,Hiragino Sans GB,Source Han Sans,Microsoft Yahei,Heiti SC,sans-serif;

// colors
$gray-color: #E0E7EB;
$gray-light-color: lighten($gray-color, 10%);
$gray-dark-color: #C9C9C9;
$blue-color: #0080ec;
$green-color: #28c576;

$blue-color-home: #8FBCFC;
$blue-dark-color: #0080ec;
$white-color: #FFF;
$black-color: #000;
$red-color: #e15854;

$primary-color: $blue-color;
$secondary-color: #5685ac;

$info-color: $blue-color;
$info-light-color: #eaf5ff;

$error-dark-color: #df5650;
$error-color: #e15854;
$error-light-color: #ffedec;

$succ-color: $green-color;

$text-color: #59616e;
$text-dark-color: #535353;
$text-light-color: #8797ab;
$text-error-color: #df5650;

$body-background-color: #f9fafc;

//home colors
$footer-bg-color: #273351;
$footer-text-color: #6e8fdb;
$vision-color: #0581ea;
$dashed-color: #959595;
// text
$line-height-base: 1.5;

// box
$border-radius-base: 3px;
$border-radius-lg: 5px;
$border-radius-sm: 1px;
$border-color-default: #D2D9DE;

// container
$container-width-base: 1180px;
$container-width-sm: 960px;

//main
$container-width-main: 980px;

//grid system
$grid-cols: 12;
$grid-gutter: 10px;

//shadows
$button-hover-bg: #3375c7;
$outter-shadow:rgba(#001a77, 0.4) 0 3px 4px 0px;
$int-shadow:rgba(#005ba7, 0.6) 0 3px 4px 0px;
$outter-text-shadow:rgba(#001a77, 0.4) 0 3px 4px;
$pillar-shadow-left:rgba(255,255,255,0.3) 0 0 6px 2px;
$inner-shadow-blue: rgba($blue-color-home, 0.6) 0 0 4px 1px inset;

// table
$table-header-background-color: #f9fafc;

// zindex
$zindex-infinite: 999;
$zindex-xg: 4;
$zindex-lg: 3;
$zindex-base: 2;
$zindex-sm: 1;

// form
$form-line-height: 30px;


