@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-size: $w $h;

  background-image: url("#{$at1x_path}");
  background-image: -webkit-image-set(url("#{$at1x_path}") 1x, url("#{$at2x_path}") 2x);

  background-repeat: $repeat;
  background-position: $pos;
}
