@import "~compass-mixins";
@import "../variables";

@mixin make-row($gutter:0) {
  .row {
    @include pie-clearfix();
    margin-left: $gutter / -2;
    margin-right: $gutter / -2;
  }
}

@mixin cols($prefix, $cols, $gutter) {
  @for $i from 1 through $cols {
    .col-#{$prefix}-#{$i} {
      float: left;
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
      width: ($i / $cols) * 100%;
    }

    .col-#{$prefix}-offset-#{$i} {
      margin-left: ($i / $cols) * 100%;
    }
  }
}

@mixin make-cols($cols, $gutter) {
  @media (min-width: $screen-xs) {
    @include cols("xs", $cols, $gutter);
  }

  @media (min-width: $screen-sm) {
    @include cols("sm", $cols, $gutter);
  }

  @media (min-width: $screen-md) {
    @include cols("md", $cols, $gutter);
  }

  @media (min-width: $screen-lg) {
    @include cols("lg", $cols, $gutter);
  }

  @media (min-width: $screen-xl) {
    @include cols("xl", $cols, $gutter);
  }

  @media (min-width: $screen-xxl) {
    @include cols("xxl", $cols, $gutter);
  }
}
