@import "../../style/variables";

.notification-bar {
  position: fixed;
  z-index: $z-index-lg;
  top: 60px;
  width: 400px;
  left: 50%;
  margin-left: -200px;

  .notification {
    // &.enter {
    //   animation-name: slide-down-in;
    //   animation-duration: .2s;
    // }

    // &.leave {
    //   animation-name: slide-down-out;
    //   animation-duration: .25s;
    // }

    border: 1px solid;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 8px;
    word-break: break-all;

    + .notification {
      margin-top: 5px;
    }

    // &.succ {
    //   color: #3c763d;
    //   background-color: #DEF1D6;
    //   border-color: #d6e9c6;
    // }

    // &.error {
    //   color: #a94442;
    //   background-color: #f2dede;
    //   border-color: #ebccd1;
    // }
  }
}
