@import '~compass-mixins';

.table-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .table-responsive {
    position: relative;
    flex: 1;
  }

  .table-header-fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .table-column-fixed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;

    .table-body-scrollable {
      overflow-y: hidden;
    }
  }

  .table-body-scrollable {
    height: 100%;
    overflow-y: auto;
  }

  thead th,
  tbody td {
    vertical-align: middle;
  }

  .loading {
    table {
      opacity: .5;
      @include filter(blur(0.5px));
      transition: opacity .2s;
    }
  }
}
