@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kul29o');
  src:  url('../fonts/icomoon.eot?kul29o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kul29o') format('truetype'),
    url('../fonts/icomoon.woff?kul29o') format('woff'),
    url('../fonts/icomoon.svg?kul29o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

