@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "spacing";

[role="button"] {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-white {
  @include button-variant($white, $gray-300);
}

.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.cursor-pointer {
  cursor: pointer;
}

