@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "spacing";

[role="button"] {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-white {
  border: 1px solid $border-color;
}

.text-sm {
  font-size: $font-size-sm;
}
