// font
$font-size-base: 14px !default;
$font-size-sm: 12px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;

$font-weight-base: 300 !default;

$font-family: Helvetica Neue,Helvetica,Segoe UI,DejaVu Sans,Arial,PingFang SC,Hiragino Sans GB,Source Han Sans,Microsoft Yahei,Heiti SC,sans-serif !default;

// colors
$gray-color: #E0E7EB !default;
$gray-light-color: lighten($gray-color, 10%) !default;
$gray-dark-color: #C9C9C9 !default;
$blue-color: #0080ec !default;
$green-color: #28c576 !default;

$blue-color-home: #8FBCFC !default;
$blue-dark-color: #0080ec !default;
$white-color: #FFF !default;
$black-color: #000 !default;
$red-color: #e15854 !default;

$primary-color: $blue-color !default;
$secondary-color: #5685ac !default;

$info-color: $blue-color !default;
$info-light-color: #eaf5ff !default;

$error-dark-color: #df5650 !default;
$error-color: #e15854 !default;
$error-light-color: #ffedec !default;

$succ-color: $green-color !default;

$text-color: #59616e !default;
$text-dark-color: #535353 !default;
$text-light-color: #8797ab !default;
$text-error-color: #df5650 !default;

$body-background-color: #f9fafc !default;

//home colors
$footer-bg-color: #273351 !default;
$footer-text-color: #6e8fdb !default;
$vision-color: #0581ea !default;
$dashed-color: #959595 !default;
// text
$line-height-base: 1.5 !default;

// box
$border-radius-base: 3px !default;
$border-radius-lg: 5px !default;
$border-radius-sm: 1px !default;
$border-color-default: #D2D9DE !default;

// container
$container-width-base: 1180px !default;
$container-width-sm: 960px !default;

//main
$container-width-main: 980px !default;

//grid system
$grid-cols: 12 !default;
$grid-gutter: 10px !default;

//shadows
$button-hover-bg: #3375c7 !default;
$outter-shadow:rgba(#001a77, 0.4) 0 3px 4px 0px !default;
$int-shadow:rgba(#005ba7, 0.6) 0 3px 4px 0px !default;
$outter-text-shadow:rgba(#001a77, 0.4) 0 3px 4px !default;
$pillar-shadow-left:rgba(255,255,255,0.3) 0 0 6px 2px !default;
$inner-shadow-blue: rgba($blue-color-home, 0.6) 0 0 4px 1px inset !default;

// table
$table-header-background-color: #f9fafc !default;

// zindex
$zindex-infinite: 999 !default;
$zindex-xg: 4 !default;
$zindex-lg: 3 !default;
$zindex-base: 2 !default;
$zindex-sm: 1 !default;

// form
$form-line-height: 30px !default;


