// font
$font-size-base: 14px !default;
$font-size-sm: 12px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;
$font-weight-base: 300 !default;
$font-family: Helvetica Neue,Helvetica,Segoe UI,DejaVu Sans,Arial,PingFang SC,Hiragino Sans GB,Source Han Sans,Microsoft Yahei,Heiti SC,sans-serif;

// colors
$gray-color: #E0E7EB !default;
$gray-light-color: lighten($gray-color, 10%) !default;
$gray-dark-color: #C9C9C9 !default;
$blue-color: #0080ec !default;
$green-color: #28c576 !default;

$blue-color-home: #8FBCFC !default;
$blue-dark-color: #0080ec !default;
$white-color: #FFF !default;
$black-color: #000 !default;
$red-color: #e15854 !default;

$primary-color: $blue-color !default;
$secondary-color: #5685ac !default;

$info-color: $blue-color !default;
$info-light-color: #eaf5ff !default;

$error-dark-color: #df5650 !default;
$error-color: #e15854 !default;
$error-light-color: #ffedec !default;

$success-color: $green-color !default;

$text-color: #59616e !default;
$text-dark-color: #535353 !default;
$text-light-color: #8797ab !default;
$text-error-color: #df5650 !default;

$body-background-color: #f9fafc !default;

// text
$line-height-base: 1.5 !default;

// box
$border-radius-base: 3px !default;
$border-radius-lg: 5px !default;
$border-radius-sm: 1px !default;


//grid system
$grid-cols: 12;
$grid-gutter: 10px;

// z-index
$z-index-xg: 3;
$z-index-lg: 2;
$z-index-base: 1;

// screen
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
