$body-color: #454545 default;

$theme-colors: (
  'white': #fff,
);

$theme-color: (
  "body": $body-color
);

$spacers: (
  0: 5px,
  1: 10px,
  2: 15px,
  3: 20px,
  4: 30px,
  5: 40px,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$popover-max-width: none;
$font-family-base: PingFangSC-Regular $font-family-base;
$zindex-context-menu: 1080;
$zindex-modal-backdrop: 1090;
$zindex-modal: 1100;
