@import "~compass-mixins";
@import "../../../style/mixins/triangle";
@import "../../style/theme";

.form {
  .form-group {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 14px;

    position: relative;

    & > label {
      float: left;
      padding-right: 15px;
      text-align: right;
      color: $text-dark-color;
      line-height: $form-line-height;
      vertical-align: middle;

      .required {
        color: $error-color;
        font-size: 16px;
        margin-right: 10px;
        vertical-align: middle;
      }

      &.vertical {
        display: block;
        float: none;
        text-align: left;
        margin-bottom: 10px;
      }
    }

    + .form-group {
      margin-top: 20px;
    }

    &.last {
      margin-bottom: 0;
    }

    &.has-error {
      & > .form-control > input,
      & > .form-control > textarea {
        border-color: $error-color !important;
        box-shadow: 0px 0px 3px 1px rgba(238, 68, 16, 0.5);
      }
    }

    .form-control.has-error {
      > input,
      > textarea {
        border-color: $error-color !important;
        box-shadow: 0px 0px 3px 1px rgba(238, 68, 16, 0.5);
      }

      .select-trigger {
        border-color: $error-color;
      }
    }

    .error-tip {
      margin-top: 10px;
      color: $error-color;
      font-size: $font-size-sm;
    }

    .icon-times-circle-o {
      position: absolute;
      color: $error-color;
      font-size: 20px;
      top: -4px;
      left: 0;
      display: none;
    }

    .form-static {
      line-height: $form-line-height;
    }
  }

  .form-group > label {
    text-align: left;
  }

  & > .form-header {
    margin-bottom: 30px;

    label {
      color: $primary-color;
      cursor: pointer;
      @include user-select(none);

      i {
        margin-right: 20px;
        vertical-align: middle;
        font-size: 15px;
        line-height: $font-size-base;
      }
    }
  }

  .form-control {
    .counter {
      text-align: right;
    }

    .radio-group {
      line-height: $form-line-height;
    }
  }

  .form-control-group {
    &.inline {
      & > div > .form-group {
        @include inline-block();
        width: auto;

        margin-right: 15px;
      }

      margin-bottom: -15px;
    }
  }

  .help-block {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #646464;
  }
  .form-control-static {
    padding-top: 8px;
    margin-bottom: 30px;
    color: #b5b5b5;

    strong {
      color: $text-dark-color;
      margin-right: 14px;
    }
  }
}

.form-actions {
  margin-top: $form-line-height;
  text-align: center;
  font-size: $font-size-base;
}

.popover.form-error-popover {
  padding: 6px 12px;
  color: $error-color;
  background-color: #FFFBEE;
  border-color: #F8D05A;
  font-size: 12px;
  @include border-radius(3px);

  i {
    margin-right: 3px;
  }

  &:before {
    @include triangle(bottom, #F8D05A, 0.5em);
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 100%;
    z-index: 2;
    margin-top: 1px;
  }

  &:after {
    @include triangle(bottom, #FFFBEE, 0.5em);
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 100%;
    z-index: 3;
  }
}
