@import "../style/variables";

.popover {
  top: 0;
  left: 0;
  z-index: $zindex-dropdown;

  &.bs-popover-top,
  &.bs-popover-bottom {
    .arrow {
      left: 50%;
      margin-left: -0.5 * ($popover-arrow-width);
    }
  }

  &.bs-popover-left,
  &.bs-popover-right {
    .arrow {
      top: 50%;
      margin-top: -0.5 * ($popover-arrow-height);
    }
  }
}
