@import "../style/variables";

.popover {
  top: 0;
  left: 0;
  z-index: $zindex-dropdown;

  &.bs-popover-top,
  &.bs-popover-bottom {
    .arrow {
      left: 50%;
      margin-left: -0.5 * ($popover-arrow-width);
    }

    &.left {
      .arrow {
        left: $border-radius-lg;
        margin-left: 0;
      }
    }

    &.right {
      .arrow {
        right: 0;
        left: auto;
        margin-left: 0;
      }
    }
  }

  &.bs-popover-left,
  &.bs-popover-right {
    .arrow {
      top: 50%;
      margin-top: -0.5 * ($popover-arrow-width);
    }

    &.top {
      .arrow {
        top: $border-radius-lg;
        margin-top: 0;
      }
    }

    &.bottom {
      .arrow {
        bottom: 0;
        top: auto;
        margin-top: 0;
      }
    }
  }
}
