@import "~compass-mixins";
@import "../../style/variables";

.popover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: 2;

  &.placed {
    @include opacity(1);
  }
}
